footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 228px;
  color: $white;
}

.footer__wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  padding: 30px calc((50vw - 580px));

  background: linear-gradient(90deg, #010103, #22232e, #010103), #2f302f;
}

@media (max-width: 410px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo--wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-right: 2rem;
}

@media (max-width: 410px) {
  .footer__logo--wrap {
    align-items: center;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

@media (max-width: 410px) {
  .footer__logo {
    margin-bottom: 0.5rem;
  }
}
.footer__phone {
  margin-bottom: 5px;
}
.footer__phone--link,
.footer__email--link {
  color: $white;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 2rem;
}

@media (max-width: 410px) {
  .footer__social {
    margin-top: 1.2rem;
  }
}
.social__item {
  margin-right: 20px;
}

.social__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: $white;
  border: none;
}

.footer__copywrite--wrap {
  padding: 0 calc((50vw - 580px));

  background: linear-gradient(90deg, #010103, #22232e, #010103), #2f302f;
}

.footer__copywrite {
  margin: 0 1rem;
  padding: 10px 0 30px;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid #5c5c5c;
}
