<footer>
  <div class="footer__wrap">
    <div class="footer__logo--wrap">
      <div class="footer__logo">
        <a href="https://aros.kz/">
          <svg class="logo">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer__phone">
        <a class="footer__phone--link" href="tel:+77762822057">+7 776 282 20 57</a>
      </div>
      <div>
        <a class="footer__email--link" href="mailto:info@aros.kz">info@aros.kz</a>
      </div>
    </div>
    <div>
      <div class="footer__social">
        <div class="social__item">
            <a href="https://vk.com/aros.qazaqstan" target="_blanc">
              <img class="social__icon" src="../../assets/img/assets/VK.svg" alt="Aros VK">
            </a>
          
        </div>
        <div class="social__item">
          <a href="https://www.instagram.com/aros.qazaqstan/" target="_blanc">
            <img class="social__icon" src="../../assets/img/assets/Instagram.svg" alt="Aros instagram">
          </a>
        </div>
        <div class="social__item">
          <a href="https://www.facebook.com/aros.qazaqstan" target="_blanc">
            <img class="social__icon" src="../../assets/img/assets/Facebook.svg" alt="Aros facebook">
          </a>
        </div>
        <div class="social__item">
        <a class="modal-trigger" href="#modal1">
        <img class="social__icon" src="../../assets/img/assets/WeChat.svg" alt="Aros WeChat">
        </a>
        </div>
        <div class="social__item">
          <a href="https://ok.ru/group/53849446875283" target="_blanc">
            <img class="social__icon" src="../../assets/img/assets/OK.svg" alt="Aros ok">
          </a>
        </div>
      </div>
    </div> 
  </div> <!-- ./footer__wrap -->
  <div class="footer__copywrite--wrap">
    <div class="footer__copywrite">&#169 AROS, 2017-2020</div>
  </div>

  