<header>
    <div class="header__container">
      <div class="grid__container">
        <div class="flex__wrap">
          <div class="logo">
            <a href="https://aros.kz/">
              <svg class="logo">
                <use xlink:href="#logo"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="grid__item">
          <div class="language__switcher">
            <div>
              <img id="switcher" class="globe__icon" src="../../assets/img/assets/globe_white.svg" alt="Смена языка">
              <ul class="submenu submenu--hidden" >
                <li class="submenu__item"><a class="submenu__link" href="https://en.aros.kz/">English</a></li>
                <li class="submenu__item"><a class="submenu__link" href="https://qz.aros.kz/">Казак</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- ./flex__container -->
    </div> <!-- ./header__container -->
    <div class="to__mainpage">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
        <li class="nav__item">Контакты</li>
      </ul>
    </div>
</header>