<section class="main">
    <div class="main__title">
      <div>Контакты</div>
    </div>
    <div class="main__wrap">
      <div>
        <div class="contacts">
          <div class="contacts__item">
            <b><div class="item__title">Продукция и обслуживание</div></b>
            <div class="item__email">
              <img class="email__icon" src="../../assets/img/assets/email_icon.svg" alt="иконка">
              <a href="mailto:info@aros.kz" target="_blank">info@aros.kz</a>
            </div>
            <div class="item__phone">
              <img class="phone__icon" src="../../assets/img/assets/mobile_phone_icon.svg" alt="Иконка">
              <a class="phone__number" href="tel:+77762822057">+7 776 282 20 57</a>
            </div>
          </div>
          <div class="contacts__item">
            <b><div class="item__title">Дилерство</div></b>
            <div class="item__email">
              <img class="email__icon" src="../../assets/img/assets/email_icon.svg" alt="иконка">
              <a href="mailto:dealership@aros.kz" target="_blank">dealership@aros.kz</a>
            </div>
          </div>
          <div class="contacts__item">
            <b><div class="item__title">Сотрудничество</div></b>
            <div class="item__email">
              <img class="email__icon" src="../../assets/img/assets/email_icon.svg" alt="иконка">
              <a href="mailto:partnership@aros.kz" target="_blank">partnership@aros.kz</a>
            </div>
          </div>
          <div class="contacts__item">
            <b><div class="item__title">Вакансии</div></b>
            <div class="item__email">
              <img class="email__icon" src="../../assets/img/assets/email_icon.svg" alt="иконка">
              <a href="mailto:careers@aros.kz" target="_blank">careers@aros.kz</a></div>
          </div>
          <div class="contacts__item">
            <b><div class="item__title">Предложения по работе сайта</div></b>
            <div class="item__email">
              <img class="email__icon" src="../../assets/img/assets/email_icon.svg" alt="иконка">
              <a href="mailto:suggestions@aros.ru" target="_blank">suggestions@aros.kz</a></div>
          </div>
        </div> <!-- ./contacts -->
      </div>
      <div>
        <iframe class="map__size" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372172.90937370784!2d76.66396415335932!3d43.21786052160647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e7d16c5cbab%3A0x3d44668fad986d76!2z0JDQu9C80LDRgtGLLCDQmtCw0LfQsNGF0YHRgtCw0L0!5e0!3m2!1sru!2sru!4v1588383022476!5m2!1sru!2sru"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div> <!-- ./main__wrap -->
    <div class="map__mobile--container">
        <iframe class="map__mobile" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372172.90937370784!2d76.66396415335932!3d43.21786052160647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e7d16c5cbab%3A0x3d44668fad986d76!2z0JDQu9C80LDRgtGLLCDQmtCw0LfQsNGF0YHRgtCw0L0!5e0!3m2!1sru!2sru!4v1588383022476!5m2!1sru!2sru"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  <!-- <div class="hfooter"></div> -->
</section>
